table, th, td {
	border: 1px solid white;
	color: white;
}
td{
	color: white;
	height:40px;

}

h3, h4{
	color: Gainsboro;
}
h5, label{
	color: Gainsboro;
}


html, body {
	background-color: DarkSlateGrey;
    margin: 0;
    padding: 0;
}

#map {
	width: 46vw;
	height: 95vh;
}
